body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    color: red;
    text-align: center;
    background-color: hsl(50, 57%, 70%);
    padding: 10px;
    border: 10px groove red;
}

h3 {
    color: red;
    background-color: beige;
    padding: 5px;
    text-align: center;
    border: 3px dashed red;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-self: center;
}

h3:hover {
    background-color: rgb(129, 218, 217);
}