:root {
    --main-clr: red;
    --accent-clr: beige;
    --secondary-clr: hsl(50, 57%, 70%);
    --hover-clr: rgb(129, 218, 217);
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--main-clr);
    text-align: center;
    background-color: var(--secondary-clr);
    padding: 10px;
    border: 10px groove var(--main-clr);
}

h3 {
    color: var(--main-clr);
    background-color: var(--accent-clr);
    padding: 5px;
    text-align: center;
    border: 3px dashed var(--main-clr);
}

img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-self: center;
}

h3:hover {
    background-color: var(--hover-clr);
}

a {
    text-decoration: none;
}